* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin-top: 60px;
    background-color: grey;
}

.container {
    width: 700px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 5%;
    padding-top: 5px;

}
.prodotto {
    display:inline-block;
    position: relative;

}
.prodotto img {
    width: 200px;
    height: 250px;
    object-fit: contain;
    background-color: lightgrey;
    
}
.sconto {
    position: absolute;
    top: 0;
    right: 5px;
    top: 3px;
    background-color: orange;
    border-radius: 50px;

}
.cuore {
    color: orange;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    display: grid;

}



.prodotto:hover .cuore {
    display: block;
    color: red;

}
