* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: grey;
}

.container {
 width: 900px;
 text-align: center;
 margin: auto;
 background-color: lightgrey;
 margin-top: 80px;

}


img {
    height: 250px;
    width: 200px;
    object-fit: contain;
    display: inline-block;
}

.sconto {
    font-style: oblique;
    position: absolute;
    top: 43px;
    left: 245px;
    background-color: yellow;

}

.cuore {

    color: red;
    font-size: 30px;
    position: absolute;
    top : 256px;
    right: -242px;
    display: none;

}

.prodotto:hover .cuore {
    display: block;
}
